html{
font-size: 25px;
font-family: sans-serif;
/*web builtin standard fonts: sans-serif, serif, cursive,monospace, fantasy*/
background: green;
}
	
h1{
color: white;
text-align: center;
background-color:black;
}

#p1 {
text-align: center;
color: #C0C0C0;
font-style: italic;
font-size: 25px;
}

blockquote{
font-size:10;
}

q{
font-size: 10;
}

li{ 
list-style-type: none; 
display:inline;
}
   
p{
font-size:10;
line-height:1;
text-align: center;
}

blockquote{
font-size:10;
}

q{
font-size: 10;
}

.body,html {
background-image: url('webphoto.jpg');
background-repeat: no-repeat;
background-size: 40% 80%;
background-position:0px 145px
background-color:coral;
}

div.transbox {
margin: 100px;
background-color: #ffffff;
border:1px solid black;
opacity: 0.6;
width:800px;
}

div.transbox p {
  margin: 5%;
  font-weight: bold;
  color: #000000;
}
  	
.navbar {
overflow:hidden;
background-color: black;
position: fixed;
top:0;
width:100%;
}

.navbar a {
float:left;
display:block;
color:#f2f2f2;
text-align:center;
padding:14px 16px;
text-decoration:none;
}

.navbar a:hover {
background: #addd;
color:black;
}

.main {
margin-top:57px;
margin-left:0;
padding:30px 30px;
border:1px;
width: 100%;
}
