html{
font-size: 25px;
font-family: sans-serif;
/*web builtin standard fonts: sans-serif, serif, cursive,monospace, fantasy*/
background: aliceblue;
}
	
h1{
color: green;
text-align: center;
background-color:black;
}

#p1 {
text-align: center;
color: grey;
font-style: italic;
}

blockquote{
font-size:10;
}

q{
font-size: 10;
}

li{ 
list-style-type: none; 
display:inline;
}
   
p{
font-size:10;
line-height:1;
text-align: center;
}

blockquote{
font-size:10;
}

q{
font-size: 10;
}

.body,html {
background-image: url('webphoto.jpg');
background-repeat: no-repeat;
background-size: 40% 80%;
background-position:0px 145px
}

.header,html{
background-color: coral;
}
	
div.transbox {
  margin: 30px;
  background-color: #ffffff;
  opacity: 0.6;
  width:600px;
  position:200px;
}

div.transbox p {
  margin: 5%;
  font-weight: bold;
  color: #000000;
	position:center;
}
  	
.navbar {
overflow:hidden;
background-color: white;
position: fixed;
top:0;
width:100%;
}

.navbar a {
float:left;
display:block;
color:#f2f2f2;
text-align:center;
padding:14px 16px;
text-decoration:none;
}

.navbar a:hover {
background: #addd;
color:black;

.main {
margin-top:30px;
}
